
%button {
  background-color: $black;
  color: $white;
  cursor: pointer;
  height: 3rem;
  line-height: 3; // TODO: Consider what happens when a button spans multiple lines. (Unlikely scenario, but still.)
  padding: 0 rem(16px);

  &:disabled {
    background-color: silver; // TODO: Get a proper color from _variables.
    cursor: default;
  }
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  @extend %button;
}
