
@media screen and (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #{$dark};
    --text: #{$light};
  }
}

[data-mode="dark"] {
  --bgcolor: #{$dark};
  --text: #{$light};

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}
