@if $dev {

  html:hover {
    background-image: repeating-linear-gradient(
                    transparent,
                    transparent calc(24px - #{$dp}),
                    rgba(0, 255, 255, .5) calc(24px - #{$dp}), rgba(0, 255, 255, .5) 24px),
    inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M0 0h8v16h8V8H0z" opacity=".07"/></svg>');
  ;

    //background-position: 0 $dp;

    [class|=col] {
      background-color: rgba(255, 0, 0, .125);
      background-clip: content-box;
    }
  }
}
