
@font-face {
  font-family: 'Mona Sans';
  src:
          url('https://hetcdn.nl/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
          url('https://hetcdn.nl/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
          url('https://hetcdn.nl/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
          url('https://hetcdn.nl/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
          url('https://hetcdn.nl/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
          url('https://hetcdn.nl/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
}
