
// TODO: Add breakpoints.

.cols-2 {
  column-count: 2;
  column-gap: $gutter;
}

.cols-3 {
  column-count: 3;
  column-gap: $gutter;
}

.cols-4 {
  column-count: 4;
  column-gap: $gutter;
}

.cols-6 {
  column-count: 6;
  column-gap: $gutter;
}
