
// TODO: Define various rendering methods, optimized for gif, svg, and jpg.

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

