
a {
  background-color: transparent;
  color: $dejade;
  color: var(--dejade);
  //display: inline-block;
  position: relative;
  transition-duration: $transition-duration;
  transition-property: color;
  transition-timing-function: $transition-timing-function;

  &:hover {
    color: deJade();
  }

  &[aria-current] {
    color: $contrast;
  }

  &[href*="alexanderchristiaanjacob"] {
    &:hover {
      color: #f4c !important;
    }
  }

  &[href*="behance"] {
    &:hover {
      color: $bc-behance !important;
    }
  }

  &[href*="dribbble"] {
    &:hover {
      color: $bc-dribbble-2 !important;
    }
  }

  &[href*="facebook"] {
    &:hover {
      color: $bc-facebook !important;
    }
  }

  &[href*="github"] {
    &:hover {
      color: $bc-github-5 !important;
    }
  }

  &[href*="gitlab"] {
    &:hover {
      color: $bc-gitlab !important;
    }
  }

  &[href*="instagram"] {
    &:hover {
      color: $bc-instagram-4 !important;
    }
  }

/*  &[href*="letteretters"] {
    &:hover {
      color: $bc-letteretters !important;
    }
  }*/

  &[href*="linkedin"] {
    &:hover {
      color: $bc-linkedin !important;
    }
  }

  &[href*="stackoverflow"] {
    &:hover {
      color: $bc-stackoverflow !important;
    }
  }

  &[href*="twitter"] {
    &:hover {
      color: $bc-twitter !important;
    }
  }
}

@media (hover: hover) {
  :root:not(:hover) {
    a {
      color: $text;
    }

    .bg--dark {
      a {
        color: $contrast-inverse;
      }
    }
  }
}
