
.logo-container {
  background-color: $white;
  background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M0 0h8v16h8V8H0z" opacity=".07"/></svg>');
  display: block;

  figure {
    //background-color: $contrast-inverse;
    background-color: $white;
    align-items: center;
    display: flex;
    height: rem(480 - 48);
    justify-content: center;
    margin-bottom: rem(24);
    padding: rem(48 + 12);
    pointer-events: none;
    transition: background-color $transition-timing-function $transition-duration;
  }

  &:hover {
    figure {
      background-color: transparent;
    }
  }

  iframe,
  object {
    height: 100%;
    width: 100%;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
