
.logo-container {
  display: block;

  figure {
    //background-color: $contrast-inverse;
    background-color: $white;
    align-items: center;
    display: flex;
    height: rem(480 - 48);
    justify-content: center;
    margin-bottom: rem(24);
    padding: rem(48 + 12);
  }

  iframe,
  object {
    height: 100%;
    width: 100%;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
