
.product {
  background-color: $contrast;
  color: $light;

  @media screen and (prefers-color-scheme: dark) {
    color: $dark;
  }

  figcaption {
    padding: rem(12);
  }

  &-details {
    position: sticky;
    top: rem(24);
  }

  &-group {
    margin-bottom: rem(24);
  }

  &-image {
    background-color: $contrast-inverse;
    height: 12rem;
    width: 100%;
  }
}
