
table {
  border-collapse: collapse;
  display: table;
  empty-cells: hide;
  margin-bottom: rem(24);
  margin-top: rem(24);
  width: 100%;
}

td, th {
  display: table-cell;
  padding-left: rem(8);
  padding-right: rem(8);
  text-align: start;
}
