
.testimonial {
  background-color: $white;
  border-left: rem(8) solid $darken;
  height: calc(100% - #{rem(48)});
  margin-left: 0;
  padding: rem(24) rem(24) rem(24) rem(40);

  address {
    margin-top: rem(24);

    &::before {
      content: '⸻';
    }
  }
}
