
// TODO: Consider https://www.bbc.co.uk/gel/guidelines/typography for naming inspiration.

// Be strong!
b, strong {
  font-weight: $font-weight-bold;
}

cite, i, var {
  font-style: italic;
}

code, kbd, pre, samp {
  font-family: $font-family-monospace;
}

h1, .h1 {
  font-size: $font-size-xxl;
  line-height: rem(48px);
  margin: rem(12px) 0;
}

h2, .h2 {
  font-size: $font-size-xl;
  line-height: rem(24px);
  margin: rem(12px) 0;
}

h3, .h3 {
  font-size: $font-size-l;
  line-height: rem(24px);
  margin: rem(12px) 0;
}

h4, .h4 {
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  line-height: rem(24px);
  margin: 0;
}

// https://github.com/acjbizar/proper-text-indent

p {
  font-family: $font-family-serif;
  text-indent: 2em;
}

:not(p) + p,
p:first-child,
p:first-of-type {
  text-indent: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-narrow {
  word-spacing: -.125em;
}

.text-right {
  text-align: right;
}

.text-s {
  font-size: rem(14);
  line-height: rem(24);
}

:lang(zh) {
  writing-mode: vertical-lr;
}
