
// Colors.
$r: random(127);
$g: 127 + random(128);
$b: random(191);
$dejade: rgb($g, $g, $b);
$black: #000;
$dark: transparentize($black, .125);
$white: #fff;
$blank: #fafafa;
$text: #222;
$bc-facebook: #3b5998;
$bc-twitter: #1da1f2;
$bc-linkedin: #0077b5;
$bc-dribbble: #ea4c89;
$bc-pinterest: #bd081c;

// Typography;
$font-family-icons: sans-serif;
$font-family-monospace: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace, sans-serif, serif;
$font-family-sans: 'Avenir Next LT W04', Calibri, sans-serif, serif;
$font-family-serif: 'Sabon LT W04', 'Times New Roman', Times, serif, sans-serif;
$font-size-xs: rem(10px);
$font-size-s: rem(12px);
$font-size-m: rem(16px);
$font-size-l: rem(24px);
$font-size-xl: rem(32px);
$font-size-xxl: rem(48px);
$font-size-3xl: rem(64px);
$font-weight-thin: 100;
$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
$font-weight-black: 900;

// Layout.
$gutter: 24px;

$spacers: (0, 1, 2, 4, 8, 12, 16, 24, 32, 48);
