
@use "../desoep" as *;

.a22b {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: de-rem(24);

  @include breakpoint-up(l) {
    margin-bottom: de-rem(24);
    position: sticky;
    top: de-rem(24);
  }
}
