/* Based on earlier work, and inspired by clear, reset, and normalize projects. */
*, *::after, *::before {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none; }

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh; }

html {
  display: flex;
  font: normal 100%/1.5 Calibri, sans-serif, serif;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

main {
  flex: 1 0 auto; }

button,
input[type=button],
input[type=reset],
input[type=submit] {
  background-color: #000;
  color: #fff;
  height: 3rem;
  line-height: 3;
  padding: 0 12px; }
  button:disabled,
  input:disabled[type=button],
  input:disabled[type=reset],
  input:disabled[type=submit] {
    background-color: silver; }

html {
  background-image: repeating-linear-gradient(transparent, transparent 23px, rgba(0, 255, 255, 0.5) 23px, rgba(0, 255, 255, 0.5) 24px);
  background-position: 0 1px; }

[class|=col] {
  background-color: rgba(255, 0, 0, 0.125);
  background-clip: content-box; }

.align-items-center {
  align-items: center;
  display: flex; }

footer {
  padding: 12px 0; }

[class|=col], .col-1o2, .col-1o3, .col-2o3, .col-1o4, .col-3o4 {
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
  width: 100%; }

.col-1o2 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-1o3 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-2o3 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.col-1o4 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-3o4 {
  flex: 0 0 75%;
  max-width: 75%; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  padding-left: 12px;
  padding-right: 12px; }

.row {
  display: flex;
  margin-left: -12px;
  margin-right: -12px; }

table {
  border-collapse: collapse;
  empty-cells: hide;
  width: 100%; }

b, strong {
  font-weight: bold; }

cite, i, var {
  font-style: italic; }

h1, .h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 0.75rem 0; }

h2, .h2 {
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0.75rem 0; }

p {
  text-indent: 2em; }

:not(p) + p,
p:first-child,
p:first-of-type {
  text-indent: 0; }
