*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative; }

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh; }

html {
  overflow-y: scroll; }

main {
  flex: 1 0 auto; }
