
html.begrippen {

  .index {
    li {
      line-height: 2;
      list-style: none;
      margin: 0 0 rem(16) 0;
      text-align: center;

      @for $i from 1 through 27 {
        &:nth-of-type(#{$i}) a:not(:hover) {
          background-color: deJade(.5);
        }
      }
    }

    a {
      background-color: deJade();
      border: rem(4) solid $darken;
      color: $white;
      display: block;
      height: rem(32);
      line-height: 1.5;
      //text-shadow: $text-shadow;
      transition-duration: $transition-duration;
      transition-property: background-color, color;

      &:hover {
        background-color: $white !important; // Refactor so we don't need !important.
        color: $darken;
      }
    }
  }

  @include breakpoint-up(xl) {
    section {
      h2 {
        background: $contrast;
        color: $contrast-inverse;
        margin-right: rem(48);
        margin-top: 0;
        overflow: visible;
        padding: rem(12);
        position: absolute;
        right: 100%;
        text-align: right;
        width: 1.5em;
      }

      header {
        position: sticky;
        top: 0;
      }
    }
  }
}
