
@use "../desoep" as *;

html.diensten {
  .legend {
    margin-top: de-rem(24);

    &-line {
      align-items: center;
      display: flex;
    }

    svg {
      margin-right: de-rem(12);
      vertical-align: center;
      width: auto;
    }
  }
}
