
@media screen and (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #{$dark};
    --text: #{$light};
    --contrast: #{$white};
    --contrast-inverse: #{$black};
  }
}

[data-mode~="dark"] {
  --bgcolor: #{$dark};
  --text: #{$light};
  --contrast: #{$white};
  --contrast-inverse: #{$black};
}
