
@use "sass:color";
@use "../desoep" as *;

html.deapps {
  .app {
    border: de-rem(1) solid;
    border-radius: de-rem(12);
    border-bottom-color: color.adjust($black, $alpha: -.75);
    border-left-color: color.adjust($black, $alpha: -.875);
    border-right-color: color.adjust($black, $alpha: -.875);
    border-top-color: color.adjust($white, $alpha: -.5);
    box-shadow: 0 de-rem(6) de-rem(8) de-rem(-4) color.adjust($black, $alpha: -.75);
    display: inline-flex;
    overflow: hidden;
    position: relative;

    &::after {
      background:
              linear-gradient(180deg,
              color.adjust($white, $alpha: -.75),
              color.adjust($black, $alpha: -.75) 100%);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
