
@use "../desoep" as *;

html.delogo,
html.delogos {

  main > section {
    padding-bottom: 3rem;
    padding-top: 2rem;

    h2 {
      margin-bottom: de-rem(32);
      margin-top: de-rem(32);
    }

    h3 {
      margin-bottom: de-rem(24);
      margin-top: de-rem(24);
    }

    .row {
      flex-direction: row-reverse;
    }
  }
}
