
@use "../desoep" as *;

.alert {
  background-color: deJade(.5);
  border: de-rem(1px) solid deJade();
  margin-bottom: 1.5rem;
  padding: de-rem(11px);

  // Discuss a tiny (technical) detail.
  // TODO: Consider adding to meta data profile.
  &-bikeshed {

  }

  // Organisation using its own product. (See https://en.wikipedia.org/wiki/Eating_your_own_dog_food.)
  // TODO: Consider adding to meta data profile.
  &-dogfood {

  }

  &-error {
    //
  }

  &-success {
    //
  }

  &-warning {
    //
  }
}

