
%bg--dark {
  color: $white;

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

.bg {
  &--acjs {
    background-color: #221e1f;
    color: $white;
  }

  &--black {
    @extend %bg--dark;
    background-color: $black;
  }

  &--contain {
    background-size: contain;
  }

  &--cover {
    background-size: cover;
  }

  &--dark {
    @extend %bg--dark;
    background-color: $dark;
  }

  &--darken {
    @extend %bg--dark;
    background-color: $darken;
  }

  &--dejade {
    background-color: $dejade;
    background-color: var(--dejade);
    color: $white;
  }

  &--facebook {
    background-color: $bc-facebook;
    color: $white;
  }

  &--light {
    background-color: $light;
    color: $text;
  }

  &--linkedin {
    background-color: $bc-linkedin;
    color: $white;
  }

  &--mimesia {
    background-color: $bc-mimesia-blue;
    color: $white;
  }

  &--twitter {
    background-color: $bc-twitter;
    color: $white;
  }

  &--white {
    background-color: $white;
    color: $dark;

    h1, h2, h3, h4, h5, h6 {
      color: $black;
    }
  }
}
