
%bg--dark {
  color: $white;

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

.bg {
  &--acjs {
    background-color: #221e1f;
    color: $white;
  }

  &--black {
    @extend %bg--dark;
    background-color: $black;
  }

  &--contain {
    background-size: contain;
  }

  &--cover {
    background-size: cover;
  }

  &--dark {
    @extend %bg--dark;
    background-color: $dark;
  }

  &--darken {
    @extend %bg--dark;
    background-color: $darken;
  }

  &--dejade {
    background-color: $dejade;
    background-color: var(--dejade);
    color: $white;
  }

  &--facebook {
    background-color: $bc-facebook;
    color: $white;
  }

  &--grid {
    background-color: $white;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216%22%20height=%2216%22%3E%3Cpath%20d=%22M0%200h8v16h8V8H0z%22%20opacity=%22.07%22/%3E%3C/svg%3E");;
  }

  &--light {
    background-color: $light;
    color: $text;
  }

  &--linkedin {
    background-color: $bc-linkedin;
    color: $white;
  }

  &--mimesia {
    background-color: $bc-mimesia-blue;
    color: $white;
  }

  &--twitter {
    background-color: $bc-twitter;
    color: $white;
  }

  &--white {
    background-color: $white;
    color: $dark;

    h1, h2, h3, h4, h5, h6 {
      color: $black;
    }
  }
}
