
%button {
  background-clip: padding-box;
  background-color: $black;
  border-bottom: rem(6px) solid transparent;
  border-top: rem(6px) solid transparent;
  color: $white;
  cursor: pointer;
  height: 3rem;
  line-height: 1.5;
  padding: rem(6px) rem(16px);
  text-align: center;

  &:disabled {
    background-color: silver; // TODO: Get a proper color from _variables.
    cursor: default;
  }
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  @extend %button;
}
