
code,
kbd,
pre,
samp,
tt {
  font-family: $font-family-monospace;
}

code,
kbd,
samp,
tt {
  font-size: .9em; // Hack the size down for inline elements because the font is messing up the base rhythm, and `font-size-adjust` is still not widely supported. Sigh.
}

code,
pre {
  &[class*=language-] {
    font-family: $font-family-monospace;
  }
}

pre {
  max-width: 100%;
  overflow: auto;

  &[class*=language-] {
    border-radius: 0;
    margin: .75rem auto;
    padding: .75rem 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

// TODO: Consider including Prism styling.
