
@use "../desoep" as *;

.graphics {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: de-rem(48) de-rem(12);

    svg {
        margin: auto de-rem(4);
        width: de-rem(24);

        &:last-child {
            margin-left: 0;
        }
    }
}
