
@use "../desoep" as *;

body > header {
  @media print {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      margin: 0 de-rem(12) 0 0;
    }
  }
}
