
// TODO: Consider adding styling for checkboxes, radio buttons, ranges, and whatnot.

%input {
  background-clip: padding-box;
  background-color: $white;
  border-bottom: rem(6px) solid transparent;
  border-top: rem(6px) solid transparent;
  line-height: 1.5;
  padding-bottom: rem(6px);
  padding-top: rem(6px);
  text-indent: rem(8px);
  vertical-align: bottom;
  width: 100%;

  &:not(:focus) {
    text-overflow: ellipsis;
  }
}

input {
  &[type=checkbox],
  &[type=radio] {
    margin-right: rem(8);
  }

  &[type=color] {
    width: 100%;
  }

  &[type=date],
  &[type=datetime-local],
  &[type=email],
  &[type=month],
  &[type=number],
  &[type=password],
  &[type=search],
  &[type=tel],
  &[type=text],
  &[type=time],
  &[type=url],
  &[type=week],
  &:not([type]) {
    @extend %input;
  }
}

select {
  @extend %input;
}

textarea{
  @extend %input;
  min-height: 3rem;
  padding-left: rem(16px);
  padding-right: rem(16px);
  resize: vertical;
  text-indent: 0;
}
