
a {
  background-color: transparent;
  color: $dejade;
  color: var(--dejade);
  //display: inline-block;
  position: relative;
  transition-duration: $transition-duration;
  transition-property: color, text-shadow;
  transition-timing-function: $transition-timing-function;

  &:hover {
    color: deJade();
    //text-shadow: 0 rem(1) rem(1) transparentize($black, .5);
  }

  &[aria-current] {
    color: $contrast;
    font-weight: 600;
  }

  &[href*="alexanderchristiaanjacob.com"] {
    &:hover {
      color: #f4c !important;
    }
  }

  &[href*="behance.net"] {
    &:hover {
      color: $bc-behance !important;
    }
  }

  &[href*="dribbble.com"] {
    &:hover {
      color: $bc-dribbble-2 !important;
    }
  }

  &[href*="facebook.com"] {
    &:hover {
      color: $bc-facebook !important;
    }
  }

  &[href*="github.com"] {
    &:hover {
      color: $bc-github-5 !important;
    }
  }

  &[href*="gitlab.com"] {
    &:hover {
      color: $bc-gitlab !important;
    }
  }

  &[href*="instagram.com"] {
    &:hover {
      color: $bc-instagram-4 !important;
    }
  }

/*  &[href*="letteretters"] {
    &:hover {
      color: $bc-letteretters !important;
    }
  }*/

  &[href*="linkedin.com"] {
    &:hover {
      color: $bc-linkedin !important;
    }
  }

  &[href*="mimesia.biz"],
  &[href*="mimesia.blue"],
  &[href*="mimesia.church"],
  &[href*="mimesia.com"],
  &[href*="mimesia.community"],
  &[href*="mimesia.company"],
  &[href*="mimesia.info"],
  &[href*="mimesia.gallery"],
  &[href*="mimesia.link"],
  &[href*="mimesia.name"],
  &[href*="mimesia.nl"],
  &[href*="mimesia.net"],
  &[href*="mimesia.org"],
  &[href*="mimesia.science"],
  &[href*="mimesia.shop"],
  &[href*="mimesia.us"],
  &[href*="mimesia.work"],
  &[href*="mimesia.xyz"] {
    &:hover {
      color: $bc-mimesia-blue !important;
    }
  }

  &[href*="npmjs.com"] {
    &:hover {
      color: $bc-npm !important;
    }
  }

  &[href*="packagist.org"] {
    &:hover {
      color: #f28d1a !important;
    }
  }

  &[href*="stackoverflow.com"] {
    &:hover {
      color: $bc-stackoverflow !important;
    }
  }

  &[href*="twitter.com"] {
    &:hover {
      color: $bc-twitter !important;
    }
  }

  &[href*="x.com"] {
    &:hover {
      color: $black !important;
    }
  }
}

@media (hover: hover) {
  :root:not(:hover) {
    a {
      color: currentColor;
    }
  }
}
