
.portfolio {
  margin-bottom: rem(48);
  
  &-description {
    margin-top: auto;
  }

  &-details {
    position: sticky;
    top: 0;
  }

  &-figure {
    margin-bottom: rem(24);
  }

  &-info {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(24);
  }

  &-item {
    margin-bottom: rem(48);
    padding-bottom: rem(48);
  }

  &-screenshot {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
  }
}
