
@use "../desoep" as *;

// TODO: Breakpoints.

@each $spacer in $spacers {
  // Borders:
  .b-#{$spacer}, .bx-#{$spacer}, .bl-#{$spacer} { border-left: de-rem($spacer) solid; }
  .b-#{$spacer}, .bx-#{$spacer}, .br-#{$spacer} { border-right: de-rem($spacer) solid; }
  .b-#{$spacer}, .by-#{$spacer}, .bb-#{$spacer} { border-bottom: de-rem($spacer) solid; }
  .b-#{$spacer}, .by-#{$spacer}, .bt-#{$spacer} { border-top: de-rem($spacer) solid; }
  // Margins:
  .m-#{$spacer}, .mx-#{$spacer}, .ml-#{$spacer} { margin-left: de-rem($spacer); }
  .m-#{$spacer}, .mx-#{$spacer}, .mr-#{$spacer} { margin-right: de-rem($spacer); }
  .m-#{$spacer}, .my-#{$spacer}, .mb-#{$spacer} { margin-bottom: de-rem($spacer); }
  .m-#{$spacer}, .my-#{$spacer}, .mt-#{$spacer} { margin-top: de-rem($spacer); }
  // Negative margins:
  .nm-#{$spacer}, .nmx-#{$spacer}, .nml-#{$spacer} { margin-left: de-rem($spacer * -1); }
  .nm-#{$spacer}, .nmx-#{$spacer}, .nmr-#{$spacer} { margin-right: de-rem($spacer * -1); }
  .nm-#{$spacer}, .nmy-#{$spacer}, .nmb-#{$spacer} { margin-bottom: de-rem($spacer * -1); }
  .nm-#{$spacer}, .nmy-#{$spacer}, .nmt-#{$spacer} { margin-top: de-rem($spacer * -1); }
  // Paddings:
  .p-#{$spacer}, .px-#{$spacer}, .pl-#{$spacer} { padding-left: de-rem($spacer); }
  .p-#{$spacer}, .px-#{$spacer}, .pr-#{$spacer} { padding-right: de-rem($spacer); }
  .p-#{$spacer}, .py-#{$spacer}, .pb-#{$spacer} { padding-bottom: de-rem($spacer); }
  .p-#{$spacer}, .py-#{$spacer}, .pt-#{$spacer} { padding-top: de-rem($spacer); }
}

.mb-auto,
.my-auto {
  margin-bottom: auto;
}

.ml-auto,
.mx-auto {
  margin-left: auto;
}

.mr-auto,
.mx-auto {
  margin-right: auto;
}

.mt-auto,
.my-auto {
  margin-top: auto;
}
