
svg {
  //height: auto; // Disabled because it broke detint color swatches.
  max-width: 100%;
  overflow: visible;
  vertical-align: bottom;

  &:not([fill]) {
    fill: currentColor;
  }

  &:not([height]) {
    height: auto;
  }
}
