
svg {
  max-width: 100%;
  overflow: visible; // Risky take. Needs testing on all SVGs in production.
  vertical-align: bottom;

  &:not([fill]) {
    fill: currentColor;
  }

  &:not([height]) {
    height: auto;
  }
}
