
svg {
  height: auto; // Make sure we don't break logos with this.
  max-width: 100%;
  overflow: visible;
  vertical-align: bottom;

  &:not([fill]) {
    fill: currentColor;
  }

  &:not([height]) {
    height: auto;
  }
}
