<form action="/" method="post">
    <div hidden><label for="contact-email">E-mailadres</label></div>
    <div class="form-row"><input id="contact-email" name="email" type="email"></div>
    <div hidden><label for="contact-message">Bericht</label></div>
    <div class="form-row"><textarea name="message" id="contact-message" cols="30" rows="10"></textarea></div>
    <div>
        <button type="submit">Verstuur</button>
    </div>
</form>