<footer>
    <a href="#top" class="top">▲</a>
    <div class="container">
        <div class="row">
            <div class="col-1o4">
                <div>☺ {{ "now"|date("Y") }} <a href="https://deidee.nl/">deidee</a></div>
            </div>
            <div class="col-3o4">
                <dl class="text-right">
                    <dt><abbr title="Kamer van Koophandel">KvK</abbr></dt>
                    <dd>27313269</dd>
                    <dt><abbr lang="en" title="International Bank Account Number">IBAN</abbr></dt>
                    <dd><data value="NL14ABNA0413695026">NL14 ABNA0413 6950 26</data></dd>
                    <dt><abbr>BTW</abbr></dt>
                    <dd>NL144413784B01</dd>
                    <dt><abbr lang="en" title="Bitcoin">BTC</abbr></dt>
                    <dd>14PHr9MooRotrVpqAztYJ9BCAgZCDWT9hY</dd>
                </dl>
            </div>
        </div>
    </div>
</footer>