<header class="py-12">
    <div class="container">
        <div class="row py-12">
            <div class="col-1o2">
                <div class="flex-row">
                    <a class="mr-12" href="#">Web</a>
                    <a class="mr-12" href="#">Beelmerken</a>
                    <a class="mr-12" href="#">Vragen</a>
                    <a class="mr-12" href="#">Opdrachtgevers</a>
                    <a class="mr-12" href="#">Contact</a>
                </div>
            </div>
            <div class="col-1o2">
                <div class="text-right">
                    <a href="#"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1><a href="/">deidee</a><abbr title="van">/</abbr>contact</h1>
            </div>
        </div>
    </div>
</header>