<header class="py-12">
    <div class="container">
        <div class="row py-12">
            <div class="col-1o2">
                {% block menu %}
                    <div class="flex-row">
                        <a class="mr-12" href="#">Web</a>
                        <a class="mr-12" href="#">Beelmerken</a>
                        <a class="mr-12" href="#">Vragen</a>
                        <a class="mr-12" href="#">Opdrachtgevers</a>
                        <a class="mr-12" href="#">Contact</a>
                    </div>
                {% endblock %}
            </div>
            <div class="col-1o2">
                <div class="text-right">
                    <a href="#"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>