<header class="py-12">
    <div class="container">
        <div class="row py-12">
            <div class="col-s-3o4">
                {% block menu %}
                    <div class="flex-row flex-wrap">
                        {% for key, value in nav %}
                            <a{% if key == current %} aria-current="page"{% endif %} class="mr-12" href="./demo-{{ key }}.html">{{ value }}</a>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
            <div class="col-s-1o4">
                <div class="text-right">
                    <div class="quicksearch">
                        <label><input type="search" name="q"></label>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>