<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>demo <abbr title="van">/</abbr> destijl</h1>
            </div>
        </div>
    </div>
</header>