<div class="introduction">
    <p>deidee is de praktijk van <a href="#">Alexander Christiaan Jacob</a>.</p>
</div>
<div class="mt-24">
    <div>⟨ <a href="#">ontwerp</a> | <a href="#">ontwikkeling</a> ⟩</div>
    <div>⟨ esthetiek | techniek ⟩</div>
    <div>⟨ vorm | functie ⟩</div>
</div>
