<a href="https://delogo.nl/{{ logo }}" class="logo-container">
    <figure>
        {% if logo == 'deidee' %}
            <iframe src="https://deidee.com/logo.svg" loading="lazy"></iframe>
        {% else %}
            <iframe src="https://delogo.nl/{{ logo }}.svg" loading="lazy"></iframe>
        {% endif %}
    </figure>
</a>