<a href="https://delogo.nl/{{ logo }}" class="logo-container">
        <figure>
                {% if logo == 'deidee' %}
                        <img src="https://deidee.com/logo.svg" alt="" loading="lazy">
                {% else %}
                        <img src="https://delogo.nl/{{ logo }}.svg" alt="" loading="lazy">
                {% endif %}
        </figure>
</a>