<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><a href="./demo-homer.html">{{ site|default('deidee') }}</a><abbr title="van">/</abbr>{{ page|default('contact') }}</h1>
        </div>
    </div>
</div>