<section class="portfolio-item">
    <div class="container">
        <div class="row">
            <div class="col-l-1o3 portfolio-info">
                <div class="portfolio-details">
                    <h2>Portfolio item 1</h2>
                    <div>Klant: Galerie Helder</div>
                    <div>Studio: Bruno Uno Studio</div>
                    <div>Disciplines: ontwerp, ontwikkeling</div>
                    <div>Technieken: HTML, CSS, PHP</div>
                </div>
                <div class="portfolio-description">
                    {% include '_lorem-ipsum.html.twig' %}
                </div>
            </div>
            <div class="col-l-2o3">
                <div class="row">
                    <div class="col">
                        {% include '_portfolio-figure.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1o2">
                        {% include '_portfolio-figure.html.twig' %}
                    </div>
                    <div class="col-1o2">
                        {% include '_portfolio-figure.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>