<section class="product-group">
    <div class="container">
        <div class="row">
            <div class="col-l-1o4">
                <div class="product-details mb-24">
                    <h2>{{ title }}</h2>
                    <p>{{ description }}</p>
                </div>
            </div>
            <div class="col-l-3o4">
                <div class="row">
                    {% for product in products %}
                        <div class="col-m-1o2 col-l-1o3">
                            {% include '_product.html.twig' with {slug: product} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>