<div class="container">
    <div class="row">
        <div class="col-l-1o4">
            <h2>Zie ook</h2>
        </div>
        <div class="col-l-3o4">
            <ul>
                <li><a href="#">de logo van ACJ</a></li>
                <li><a href="#">de identiteit van ACJ</a></li>
                <li><a href="#">het portfolio van ACJ</a></li>
            </ul>
        </div>
    </div>
</div>
