{% extends 'layout/default.html.twig' %}
{% block class %}acj{% endblock %}
{% block title %}Demo ACJ{% endblock %}
{% block header %}
    {% include '_header.html.twig' %}
    {% include '_page-title.html.twig' with { site: 'deidee', page: 'ACJ' } %}
{% endblock %}
{% block main %}
    <main class="align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-l-5o12 pb-48 flex-column">
                    <div class="a22b">
                        {% include '_a22b.html.twig' %}
                    </div>

                    <div id="personalia">
                        <div class="row">
                            <div class="col-1o2 col-l-2o5 mb-24">
                                <figure class="avatar">
                                    <img src="https://hetcdn.nl/deidee/images/acj-martini.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                        <div>tel: <a href="tel:+31624699186"><data value="0624699186">06 246 99 186</data></a></div>
                        <div>mailto: <a href="mailto:alexander@deidee.nl">alexander@deidee.nl</a></div>
                        <div>https: <a href="{{ link.a22b }}">//alexanderchristiaanjacob.com/</a></div>
                    </div>

{#                    <aside style="bottom:0;padding-bottom:1.5rem;position:sticky;top:auto">
                        <h2>Zie ook</h2>
                        <ul>
                            <li><a href="https://hetportfolio.nl/acj">hetportfolio van ACJ</a></li>
                            <li><a href="https://delogo.nl/acj">delogo van ACJ</a></li>
                            <li><a href="{{ link.a22b }}">persoonlijke homepage</a></li>
                        </ul>
                    </aside>#}

       {#             <div>
                        <p>Meer geïnteresseerd in mijn autonome werk? Zie <a href="{{ link.a22b }}">mijn persoonlijke website</a>.</p>
                    </div>#}

                    {#
                    <section class="py-24" id="profielen">
                        <h3>Profielen</h3>
                        <div class="row">
                            <div class="col-l-1o3">
                                <div><a href="https://www.linkedin.com/in/acjbizar">LinkedIn</a></div>
                                <div><a href="https://twitter.com/ACJ">Twitter</a></div>
                                <div><a href="https://www.facebook.com/acjbizar">Facebook</a></div>
                                <div><a href="https://www.instagram.com/acjbizar/">Instagram</a></div>
                            </div>
                            <div class="col-l-1o3">
                                <div><a href="https://www.behance.net/acj">Behance</a></div>
                                <div><a href="https://dribbble.com/acj">Dribbble</a></div>
                                <div><a href="https://letteretters.com/3/">L E T T E R E T T E R S</a></div>
                            </div>
                            <div class="col-l-1o3">
                                <div><a href="https://github.com/acjbizar">GitHub</a></div>
                                <div><a href="https://gitlab.com/acj">GitLab</a></div>
                                <div><a href="http://stackoverflow.com/users/1546457/acj">Stack Overflow</a></div>
                            </div>

                        </div>
                    </section>
                     #}

                </div>

                <div class="col-l-1o2 offset-l-1o12">
                    <div class="introduction">
                        <p>Goedenavond,
                            mijn naam is Alexander en ik ben de persoon achter deidee.
                            Mijn specialisme ligt in het gebied waar ontwerp en ontwikkeling &mdash; of in bredere zin esthetiek en techniek &mdash; overlappen.
                            <!--Zie <a href="#">deidee van diensten</a> voor wat dit precies inhoudt.-->
                        </p>
                    </div>
                    <section class="py-24">
                        <h2>Biografie</h2>
                        <p>Ik ben in 1980 in Den Haag geboren en al van kleins af aan heb ik een onverzadigbare drang om te creëren.
                            Ik laat mij inspireren door exacte wetenschap, filosofie en de natuur, maar ook door spiritualiteit en popcultuur.
                            Ik uit mijzelf via kunst, muziek, sport, ontwerp en programmatuur.
                            Na mijn studietijd richtte ik deidee op om van mijn creativiteit mijn werk van te maken.
                        </p>
                    </section>
                    <section class="py-24" id="cv">
                        <h2>Curriculum vitæ</h2>
                        <p>Hoewel deidee al heel lang de basis is van waaruit ik opereer, heb ik ook andere dingen ondernomen.</p>
                        <section class="py-24" id="werkervaring">
                            <h3>Werkervaring</h3>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Mimesia Gallery</strong></div>
                                    <div>Mede-oprichter, voorzitter, curator</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2016 &mdash;</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>deidee</strong></div>
                                    <div>Oprichter, ontwerper, ontwikkelaar</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2007 &mdash;</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>DPI</strong></div>
                                    <div>Lead front-end, senior front-end-ontwikkelaar</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2016 &mdash; 2022</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Dekker Chen</strong></div>
                                    <div>Mede-oprichter, technisch directeur</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2013 &mdash; 2015</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Watch Me Work</strong></div>
                                    <div>Mede-oprichter, partner</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2011 &mdash; 2014</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Message2Market</strong></div>
                                    <div>Projectmanager (online marketing)</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2009 &mdash; 2011</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Bizzmark</strong></div>
                                    <div>Projectmanager (online marketing)</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2008 &mdash; 2009</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Gum</strong></div>
                                    <div>Voorzitter, co-curator</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2007 &mdash; 2012</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>VormVijf</strong></div>
                                    <div>Stagiair grafisch ontwerp</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2005</div>
                                </div>
                            </div>

                        </section>
                        <section class="py-24" id="studie">
                            <h3>Studie</h3>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Koninklijke Academie van Beeldende Kunst</strong></div>
                                    <div>Grafisch &amp; typografisch ontwerp</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2001 &mdash; 2006</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Haagse Hogeschool</strong></div>
                                    <div>Vormgeving en ontwerp van interactie</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>1999 &mdash; 2001</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Hogeschool Rotterdam &amp; Omstreken</strong></div>
                                    <div>Biomedische chemie</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>1998 &mdash; 1999</div>
                                </div>
                            </div>

                        </section>

                        <section class="py-24" id="exposities">
                            <h3>Exposities</h3>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Near Enough?</strong></div>
                                    <div>Tolhuistuin</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2018</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Opening</strong></div>
                                    <div>Mimesia Gallery</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2016</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Mondriaan en De Stijl</strong></div>
                                    <div>Kunstmuseum Den Haag</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2013</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>local.#non.access</strong></div>
                                    <div>Berlijn</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2013</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Beeld van Den Haag</strong></div>
                                    <div>Den Haag</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2012</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Eindexamenexpo <abbr>kabk</abbr></strong></div>
                                    <div>Ministerie van Financiën</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2006</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Schermen met letters</strong></div>
                                    <div>Museum Meermanno</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2005</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>North Sea Jazz Art Posters</strong></div>
                                    <div>North Sea Jazz Festival</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2003</div>
                                </div>
                            </div>

                        </section>

                        <section class="py-24" id="prijzen">
                            <h3>Prijzen</h3>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Elegante Algoritmes</strong> (publieksprijs)</div>
                                    <div>SETUP Utrecht</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2013</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>Frans de Jongprijs</strong></div>
                                    <div>Museum Meermanno</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2005</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-s-3o4">
                                    <div><strong>North Sea Jazz Art Poster Competition</strong></div>
                                    <div>Mojo Entertainment</div>
                                </div>
                                <div class="col-s-1o4">
                                    <div>2003</div>
                                </div>
                            </div>

                        </section>



                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
{% include '_footer-complex.html.twig' %}
{% endblock %}