{% extends 'layout/default.html.twig' %}
{% block title %}Demo home{% endblock %}
{% block header %}{% include '_header.html.twig' %}{% endblock %}
{% block main %}
    <main class="align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-l-2o3">
                    {% include '_heticoon.html.twig' %}
                </div>
                <div class="col-l-1o3">
                    {% include '_introduction.html.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}