{% extends 'layout/default.html.twig' %}
{% block header %}
    <header class="py-12">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="text-left">
                        <a href="#"><i class="fas fa-bars"></i></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block main %}
    <main class="align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-1o1 text-center">
                    <img src="https://deidee.com/logo.svg?str=deidee" alt="deidee">
                    <div class="nmt-24">ontwerp en ontwikkeling op maat</div>
                    <div>sinds 2007</div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}