{% extends 'layout/default.html.twig' %}
{% block class %}beeldmerken{% endblock %}
{% block title %}Demo beeldmerken{% endblock %}
{% block header %}
    {% include '_header.html.twig' %}
    {% include '_page-title.html.twig' with { site: 'deidee', page: 'beeldmerken' } %}
{% endblock %}
{% block main %}
    <main>
        <div class="container">
            <div class="row">
                {% for logo in logos %}
                    <div class="col-l-1o2">
                        {% include '_logo.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
{% include '_footer-complex.html.twig' %}
{% endblock %}