{% extends 'layout/default.html.twig' %}
{% block main %}
    <main class="align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-m-1o2">
                    <img src="https://deidee.com/logo.svg?str=dedemo.nl" alt="dedemo.nl">
                    <div>▶ Geregistreerd door <a href="https://deidee.nl/">deidee</a>&mdash;ontwerp en ontwikkeling.</div>
                </div>
                <div class="col-m-1o2">
                    <form action="">
                        <div class="form-row">
                            <!--<label for="from">Van</label>--><input id="from" name="from" type="email">
                        </div>
                        <div class="form-row">
                            <textarea name="message" id="bericht" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-row">
                            <button type="submit">Verstuur</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}