{% extends 'layout/default.html.twig' %}
{% block title %}Demo form{% endblock %}
{% block header %}{% include '_header.html.twig' with {site: 'hetportfolio', 'page': 'deidee'} %}{% endblock %}
{% block main %}
    <main class="align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-l-1o3 offset-l-1o3">
                    <img src="https://delogo.nl/mimesia.svg" alt="">
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}{% include '_footer.html.twig' %}{% endblock %}