{% extends 'layout/default.html.twig' %}
{% block title %}Demo clients{% endblock %}
{% block header %}
    {% include '_header.html.twig' with {current: 'clients'} %}
    {% include '_page-title.html.twig' with { site: 'deidee', page: 'opdrachtgevers' } %}
{% endblock %}
{% block main %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-l-1o2 offset-l-1o4">
                    <div class="introduction">
                        <p>deidee heeft een zeer gevarieerd klantenbestand, van zelfstandig kunstenaars tot ministeries.
                            Meestal werken we als onderaannemer voor andere creatieve bureaus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container client-logos">
            <div class="row">
                {% for client_logo in client_logos %}
                <div class="col-1o2 col-m-1o3 col-l-1o5">
                    <div class="client-logo">
                        {% include '_' ~ client_logo ~ '.svg.twig' %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Testimonials</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-l-1o2">
                        <blockquote class="testimonial testimonial--galeriehelder">
                            <p>Al vanaf onze oprichting werken wij voor de website zeer prettig samen met Alexander. Hij hanteert zelfstandig een organische manier om tot een onvermoed resultaat te komen. Door zijn relaxte en uitnodigende werkwijze word je geprikkeld om ook zelf hardop te ventileren waaraan je denkt. Daarbij is het wel geboden om je ideale werkproces tijdens de opleveringen te testen. Zo krijg je het gevoel dat het resultaat je eigen authentieke verhaal wordt. Dat is een inspirerende en doeltreffende ervaring.</p>
                            <p>Alexander houdt altijd overzicht en vindt het een uitdaging om met de nieuwste technieken te werken. Niets lijkt onmogelijk, telkens komt er een creatieve oplossing. Ook zijn problemen snel en accuraat verholpen. Voor je er erg in hebt blijken alle puzzelstukjes te passen en hoef je alleen nog maar te oefenen op de vele mogelijkheden van je nieuwe beheeromgeving.</p>
                            <address>Frank &amp; Frey,
                                <cite translate="no"><a href="https://galeriehelder.nl/" translate="no">Galerie Helder</a></cite></address>
                        </blockquote>
                    </div>
                    <div class="col-l-1o2">
                        <blockquote class="testimonial testimonial--miktorenmolf">
                            <p>Wij (<cite translate="no">Miktor &amp; Molf</cite>) hebben veel gekke shit bedacht, maar er is nooit iets geweest wat DeIdee niet heeft kunnen realiseren.
                                Dat wil behoorlijk wat zeggen.
                                Wat ik als ontwerper prettig vind aan samenwerken met DeIdee is dat ze zelf ook ontwerpen.
                                Ze kijken dus niet alleen als programmeur of eindgebruiker naar een website/online project, maar ook als ontwerper.
                                Dat is zeldzaam en enorm waardevol en het communiceert ontspannen. Daarnaast zijn de <abbr>cms</abbr>-interfaces voor iedereen te behappen.
                                Ook dat hebben we weleens anders gezien…</p>
                            <address><a class="n" href="http://mickjohan.com/" translate="no">Mick Johan</a>,
                                <cite translate="no">Miktor &amp; Molf</cite></address>
                        </blockquote>
                    </div>
                    <div class="col-l-1o2">
                        <blockquote class="testimonial testimonial--presstige">
                            <p>Een paar -niet onbelangrijke- zaken spreekt ons aan.
                                Jong, niet de hoofdprijs vragend, meedenkers en vooral willen luisteren naar waar een website vanuit public relations/huisstijl oogpunt en marketinginbreng aan dient te voldoen.
                                Wat willen we als communicatieadviseurs nog meer?
                                Prima club, aanbevolen.</p>
                            <address>Frank D.P.M. Lether, directeur / sr. adviseur, <cite lang="en"><a href="https://presstige.nl/">Presstige Public Relations</a></cite></address>
                        </blockquote>
                    </div>
                    <div class="col-l-1o2">
                        <blockquote class="testimonial testimonial--brunounostudio">
                            <p>Onlangs ontving ik een subtiele reminder dat <cite translate="no">Bruno Uno Studio</cite> al 11 jaar(!)
                                de meest waanzinnige en uiteenlopende projecten heeft gerealiseerd met de Idee. Dat is knap.
                                Dat zegt meer dan iets. Knappe websites, applicaties, eigen <abbr>cms</abbr> en huisstijlen.
                                Op naar de volgende 11 jaar en dan zitten wij op zijn favoriete 22! Bedankt Alexander!</p>
                            <address translate="no">Bruno Driessen, <cite><a href="http://www.brunounostudio.com/">Bruno Uno Studio</a></cite></address>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-48">
            <div class="row">
                <div class="col-l-1o4">
                    <div class="sticky">
                        <h2 class="mb-24">Honderden</h2>
                        <p>deidee werkte over de jaren &mdash; vaak als onderaannemer &mdash; aan projecten voor honderden individuen, organisaties en merken.</p>
                    </div>
                </div>
                <div class="col-l-1o2 offset-l-1o4">
                   {% include '_200-brands.html.twig' %}
                    <p><a href="#" title="deidee van contact">Volgende?</a></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}