{% extends 'layout/default.html.twig' %}
{% block title %}Demo kitchensink{% endblock %}
{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>demo <abbr title="van">/</abbr> destijl</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block main %}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Kleuren</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="bg--dejade p-12">
                            deJade
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg--dark p-12">
                            Donker
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg--black p-12">
                            Zwart
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg--light p-12">
                            Blanco
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg--white p-12">
                            Wit
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg--facebook p-12">
                            Facebook
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg--twitter p-12">
                            Twitter
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg--linkedin p-12">
                            LinkedIn
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg--mimesia p-12">
                            Mimesia
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Typografie</h2>
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th>Voorbeeld</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>h1</th>
                            <td><div class="h1">Dit is een eerste koptekst</div></td>
                        </tr>
                        <tr>
                            <th>h2</th>
                            <td><div class="h2">Dit is een tweede koptekst</div></td>
                        </tr>
                        <tr>
                            <th>h3</th>
                            <td><div class="h3">Dit is een derde koptekst</div></td>
                        </tr>
                        <tr>
                            <th>h4</th>
                            <td><div class="h4">Dit is een vierde koptekst</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-1o2">
                    <p>Lorem ipsum dolor sit amet, eos vocent offendit ea, mel ex cetero persequeris, oportere qualisque concludaturque ius ut. Cibo delicata sit ne, ut errem eripuit assentior vim, sit suas mandamus qualisque an. Id invidunt adipisci intellegam pri, nam ad labores scaevola, tibique invenire suscipiantur ei est. Cum cu dolor alienum eleifend, tota tacimates te vis.</p>
                    <p lang="hi">मानव सभिसमज लाभान्वित विशेष उसीएक् वर्तमान संपुर्ण जाने सहयोग करता। अनुवाद अंग्रेजी यन्त्रालय आपको वर्णित समस्याओ कीने दौरान विकेन्द्रित विश्वव्यापि हैं। जिसकी जिवन बनाकर मेंभटृ कार्यसिधान्तो भाति लेकिन वैश्विक अधिकांश परिभाषित सहित हिंदी सारांश आंतरजाल</p>
                </div>
                <!--
                <div class="col-1o5">
                    <p lang="zh">政食域幌続政更動受方重松。記能候目波治張康大近性毎技銅訓画。国面取片小原備中道意黙借。技教手灯質防毎首定木周明形。郵面事幕勢山応暮講祉中非。女革必書問静記要世現徹馬。問車発大問文路源区税繰磨。氾報超区車学選来活文木訪住毎以変構。生要怖景突死学職礼処大下歴。憂応音案哉完日速将四周長感読見。府形認奈伝論万者活氷庭療実特送順。</p>
                </div>
                -->
                <div class="col-1o2">
                    <p dir="rtl" lang="ar">تحرير اتّجة كان أم. تُصب سقوط العاصمة ان أضف, اكتوبر العاصمة ٣٠ به،, من عدد كانت أهّل الأهداف. وحرمان وانتهاءً تلك عن. بل قررت تسمّى أضف, أم قتيل، اتفاقية دار. و ثانية ليركز نفس, أما العدّ شواطيء الأمريكي ما. بل انتهت الدولارات يكن.</p>
                    <p dir="rtl" lang="he">היום שתפו לערוך היא על, לשון מוגש עוד מה. למנוע אתנולוגיה ואלקטרוניקה שער אם, אל המלצת נוסחאות רבה. שכל עיצוב לימודים גם, או זקוק ביולי ליצירתה בדף. דת ביוני כלליים שכל, בה תבניות משופרות שתי, סדר העיר תחבורה מונחונים גם. מוסיקה ספרדית תיאטרון אל שער, חפש או הרוח מיותר.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">Kolommen</div>
            </div>
            <div class="row">
                <div class="col-1o2">1/2</div>
                <div class="col-1o2">1/2</div>
            </div>
            <div class="row">
                <div class="col-1o3">1/3</div>
                <div class="col-2o3">2/3</div>
            </div>
            <div class="row">
                <div class="col-1o4">1/4</div>
                <div class="col-3o4">3/4</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Lijsten</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-1o2">
                    <ol>
                        <li>Eerste niveau, eerste item</li>
                        <li>Eerste niveau, tweede item
                            <ol>
                                <li>Tweede niveau, eerste item</li>
                                <li>Tweede niveau, tweede item
                                    <ol>
                                        <li>Derde niveau, eerste item</li>
                                        <li>Derde niveau, tweede item</li>
                                        <li>Derde niveau, derde item</li>
                                    </ol>
                                </li>
                                <li>Tweede niveau, derde item</li>
                            </ol>
                        </li>
                        <li>Eerste niveau, derde item</li>
                    </ol>
                </div>
                <div class="col-1o2">
                    <ul>
                        <li>Eerste niveau, eerste item</li>
                        <li>Eerste niveau, tweede item
                            <ul>
                                <li>Tweede niveau, eerste item</li>
                                <li>Tweede niveau, tweede item
                                    <ul>
                                        <li>Derde niveau, eerste item</li>
                                        <li>Derde niveau, tweede item</li>
                                        <li>Derde niveau, derde item</li>
                                    </ul>
                                </li>
                                <li>Tweede niveau, derde item</li>
                            </ul>
                        </li>
                        <li>Eerste niveau, derde item</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Knoppen</h2>
                    <div>
                        <button>Standaard</button>
                        <button disabled>Uitgeschakeld</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Rotatie</h2>
                </div>
            </div>
            <div class="row my-48">
                <div class="col">
                    <div class="bg--dark px-16 py-12 rot-30">30 graden</div>
                </div>
                <div class="col">
                    <div class="bg--dark px-16 py-12 rot-45">45 graden</div>
                </div>
                <div class="col">
                    <div class="bg--dark px-16 py-12 rot-90">90 graden</div>
                </div>
                <div class="col">
                    <div class="bg--dark px-16 py-12 rot-270">270 graden</div>
                </div>
                <div class="col">
                    <div class="bg--dark px-16 py-12 rot-315">315 graden</div>
                </div>
                <div class="col">
                    <div class="bg--dark px-16 py-12 rot-330">330 graden</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Blokcitaten</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-l-1o2">
                    <blockquote>
                        <p>Est cup brewed breve to go, foam shop trifecta whipped siphon trifecta. Est, sugar, cinnamon galão blue mountain steamed bar mug flavour variety grinder. Aroma single shot and crema, kopi-luwak iced, rich kopi-luwak chicory robust trifecta irish. Cinnamon, ristretto americano frappuccino shop lungo shop.</p>
                        <p>Sit, foam, so irish sit, trifecta that lungo beans latte grinder fair trade. Aftertaste decaffeinated cup, dark irish plunger pot organic froth qui grounds roast. Cortado doppio saucer bar, milk, to go cup caffeine as doppio. Single origin at grinder caramelization steamed coffee irish caramelization.</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Codeblokken</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <pre class="language-js"><code>// Regex "y" and "u" flags
var a = /[a-zA-Z]+/gimyu;

// for..of loops
for(let x of y) { }

// Modules: import
import { foo as bar } from "file.js"

// Template strings
`Only on ${y} one line`
`This template string ${x} is on

multiple lines.`
`40 + 2 >= ${ 40 + 2 }`
`The squares of the first 3 natural integers are ${[for (x of [1,2,3]) x*x].join(', ')}`</code></pre>
                    <pre class="language-python"><code># Import the necessary libraries
import random
from PIL import Image

# Create a new image with the appropriate dimensions
width = 4096  # The image should be 4096 by 4096 pixels
height = 4096
image = Image.new("RGB", (width, height))

# Create a list of all possible colors
colors = [(red, green, blue) for red in range(0, 256) for green in range(0, 256) for blue in range(0, 256)]

# Shuffle the colors using a random number generator
random.shuffle(colors)

# Iterate over all pixels in the image and assign each pixel a randomly shuffled color
for x in range(0, width):
  for y in range(0, height):
    image.putpixel((x, y), colors[x * width + y])

# Save the image to a file
image.save("shuffled_colors.png")</code></pre>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-l-1o2">
                    <h2>Stickers</h2>
                    <ul class="stickers">
                        {% for i in 0..12 %}
                        <li><a class="sticker" href="#">Sticker</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 flex-column" style="height:600px">
                    <div class="text-center my-auto">
                        <img src="https://deidee.com/logo.png?str=deidee" alt="deidee">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}