{% extends 'layout/default.html.twig' %}
{% block main %}
    <main class="align-items-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form action="#">
                        <div class="form-row">
                            <input type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}{% endblock %}