{% extends 'layout/default.html.twig' %}
{% block title %}Demo zie ook{% endblock %}
{% block header %}
    {% include '_header.html.twig' %}
    {% include '_page-title.html.twig' with {site: 'delogo', 'page': 'Mimesia'} %}
{% endblock %}
{% block main %}
    <main id="content">
        {% include '_see-also.html.twig' %}
    </main>
{% endblock %}
{% block footer %}{% include '_footer-complex.html.twig' %}{% endblock %}