/* Based on earlier work, and inspired by clear, reset, and normalize projects. */
*, *::after, *::before {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

html {
  display: flex;
  font: normal 100%/1.5 Calibri, sans-serif, serif;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

main {
  flex: 1 0 auto;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  background-color: #000;
  color: #fff;
  height: 3rem;
  line-height: 3;
  padding: 0 12px;
}

button:disabled,
input:disabled[type=button],
input:disabled[type=reset],
input:disabled[type=submit] {
  background-color: silver;
}

footer {
  padding: 12px 0;
}

[class|=col] {
  padding-left: 12px;
  padding-right: 12px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

b, strong {
  font-weight: bold;
}

cite, i, var {
  font-style: italic;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 0.75rem 0;
}

h2, .h2 {
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0.75rem 0;
}

p {
  text-indent: 2em;
}

:not(p) + p,
p:first-child,
p:first-of-type {
  text-indent: 0;
}
